<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/tailwind-style.css" rel="stylesheet">
    <title>Movies - Proyecto 2</title>
</head>

<body class="font-sans max-w-4xl mx-auto bg-stone-900 text-red-50">
    <header class="h-12 w-full text-center mx-auto mt-5 border-b-2 border-rose-800">
        <h1 class="font-medium text-3xl">MOVIES</h1>
    </header>

    <div>
        <img src="" alt="">
    </div>
    <section class="mt-5 p-4 border border-red-500">
        <h2 class="font-medium text-xl">The CREATOR</h2>
        <p>Descripción</p>
    </section>

    <section class="mt-5 p-4 border border-red-500">
        <h2> The FALL Of The HOUSE of USHER</h2>
        <p></p>
    </section>

    <section class="mt-5 p-4 border border-red-500">
        <h2>Película 3</h2>
        <p></p>
    </section>
</body>

</html>