<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/tailwind-style.css" rel="stylesheet">
    <title>Movies - Proyecto 2</title>
</head>
<body class="font-sans max-w-4xl mx-auto bg-stone-900 text-red-50">
    <header class="h-12 w-full text-center mx-auto mt-5 border-b-2 border-rose-800">
        <h1 class="font-medium text-3xl">MIS PELICULAS</h1>
    </header>
</body>
</html>

<!-- {% if movie_list %} 
    <ul>
    {% for movie in movie_list%}
        <li><a href="/movies/{{ movie.id }}/">{{ movie.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No movies are available.</p>
{% endif %} -->
