<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="description" content="">
    <meta name "keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover"
    style="background-image: url('https://dt40dm21pj8em.cloudfront.net/uploads/froala/file/4707/%EC%98%81%ED%99%94%20%EB%B0%B0%EA%B8%89%201.jpg');">
    <div class="max-w-4xl flex items-center justify-center  h-auto lg:h-screen flex-wrap mx-auto my-auto lg:my-0">
        <!-- Main Col -->
        <div id="profile"
            class="w-3/4 lg:h-3/4 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-7 mx-6 lg:mx-0 mt-10 lg:mt-0">
            <div class="p-4 md:p-12 text-center lg:text-left">
                <p class="pt-4 text-base font-semibold flex items-center justify-center lg:justify-start text-2xl">
                    <svg class="h-7 fill-current text-red-500 pr-4" version="1.1" id="_x32_"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path class="st0"
                                    d="M289.375,40.703c-40.906,0-76.25,23.781-93,58.266c-16.75-34.484-52.109-58.266-93.016-58.266 C46.266,40.703,0,86.969,0,144.063c0,57.078,46.266,103.328,103.359,103.328h186.016c57.094,0,103.359-46.25,103.359-103.328 C392.734,86.969,346.469,40.703,289.375,40.703z M103.359,183.141c-21.594,0-39.094-17.516-39.094-39.078 c0-21.594,17.5-39.094,39.094-39.094c21.563,0,39.063,17.5,39.063,39.094C142.422,165.625,124.922,183.141,103.359,183.141z M289.375,183.141c-21.578,0-39.063-17.516-39.063-39.078c0-21.594,17.484-39.094,39.063-39.094 c21.594,0,39.094,17.5,39.094,39.094C328.469,165.625,310.969,183.141,289.375,183.141z">
                                </path>
                                <path class="st0"
                                    d="M332.125,271H53.828c-11.094,0-20.063,8.969-20.063,20.047v160.188c0,11.078,8.969,20.063,20.063,20.063 h278.297c11.094,0,20.063-8.984,20.063-20.063V291.047C352.188,279.969,343.219,271,332.125,271z">
                                </path>
                                <path class="st0"
                                    d="M504.344,306.688c-4.844-3.797-11.172-5.156-17.156-3.719l-97.844,23.844c-9,2.188-15.328,10.25-15.328,19.5 v47.484c0,9.25,6.328,17.297,15.328,19.484l97.844,23.859c5.984,1.438,12.313,0.078,17.156-3.719 c4.828-3.813,7.656-9.625,7.656-15.781v-95.188C512,316.313,509.172,310.5,504.344,306.688z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    Películas con el género: {{ genre.name }}
                </p>
                <div class="mx-auto lg:mx-0 w-full pt-3 border-b-2 border-green-500 opacity-25"></div>
                <p class="pt-1">
                    {% for movie in movies %}
                    <li class="pt-1 text-base font-sm">
                        {{ movie.title }}
                    </li>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</body>

</html>