{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'movies/assets/css/tailwind-style.css' %}" rel="stylesheet">
    <title>Movies - Proyecto 2</title>
</head>

<body class="font-sans max-w-4xl mx-auto bg-stone-900 text-red-50">
    <header class="h-12 w-full text-center mx-auto mt-5 border-b-2 border-rose-800">
        <h1 class="font-medium text-3xl text-white">Tumba de las luciernagas</h1>
    </header>

    <div>
        <img src="{% static 'movies/assets/img/ufXfPXN5Yr4tS1oawcXdTr3oXw4.jpg' %}" alt="Descripción de la imagen">
    </div>
    <section class="mt-5 p-4 border border-red-500">
        <h2 class="font-medium text-xl">The CREATOR</h2>
        <p>Descripción de la película "The CREATOR".</p>0
    </section>

    <section class="mt-5 p-4 border border-red-500">
        <h2>The FALL Of The HOUSE of USHER</h2>
        <p>Descripción de la película "The FALL Of The HOUSE of USHER".</p>
    </section>

    <section class="mt-5 p-4 border border-red-500">
        <h2>Expend4bles</h2>
        <img src="{% static 'movies/assets/img/g6bfq26jmzEGNGMw768Fwu6OmdZ.jpg' %}" alt="Descripcion"
        <p>Descripción de la tercera película.</p>
    </section>
</body>

</html>
